@font-face {
  font-family: santio;
  src: url(../font/Santio\ regular.ttf);
}

@font-face {
  font-family: roboto;
  src: url(../font/Roboto-Regular.ttf);
}

@font-face {
  font-family: inter;
  src: url(../font/Inter-Bold.ttf);
}

@font-face {
  font-family: mr;
  src: url(../font/MrDafoe-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* - HEADER */

header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header img {
  width: 2rem;
}

header a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-end;
  font-family: roboto;
  font-size: 1.6rem;
  padding: 13px 65px 10px 20px;
}

header a:hover {
  text-decoration: underline #e7bc0e;
}

/* - MAIN */
header,
main {
  background-image: url("../img/cleo-topper.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  font-family: santio;
}

span {
  color: white;
  background-color: #333333;
}

/* !SECTION 1 */
.section1 {
  padding: 130px 210px 150px 130px;
  color: #e7bc0e;
  font-size: 3.2rem;
}

.section1 h2 {
  font-family: inter;
  font-size: 6.6rem;
  color: white;
  width: 10vw;
  padding: 0 0 150px 0;
}

.section1 p:first-of-type {
  font-family: mr;
}

.section1 div {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 15vw;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

/* ! SECTION 2 */

.section2 {
  padding: 0 0 0 230px;
  width: 700px;
}
.section2 p {
  font-size: 3.52rem;
  color: #6bc1a3;
}

/* übergeordnet für die 3 Sections mit Logo */

.logo {
  width: 790px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 130px 0 0 130px;
}

/* ! SECTION 3 */

.section3 {
  color: #e7bc0e;
}

.section3 img {
  width: 100px;
}

.section3 h2 {
  font-size: 13.9rem;
}

.section3 p {
  font-size: 5rem;
}

/* ! SECTION 4 */

.section4 {
  color: #cb91b6;
}

.section4 img {
  width: 100px;
}

.section4 p {
  font-size: 5rem;
  font-weight: 600;
}

.section4 h2 {
  font-size: 9.56rem;
}

/* ! SECTION 5 */

.section5 {
  color: #6bc1a3;
  padding: 130px 0 280px 130px;
}

.section5 img {
  width: 100px;
}

.section5 p {
  font-size: 5rem;
  font-weight: 600;
}

.section5 h2 {
  font-size: 9.56rem;
}

/* ! SECTION 6 */

.section6 {
  width: 500px;
  margin: 0 auto;
}
.section6 p {
  font-size: 3.52rem;
  color: #7eb8e1;
  padding: 0 0 200px 0;
}

/* ! BILD */

main article div:last-of-type {
  background-image: url("../img/section.jpg");
  height: 1317px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ! SECTION 7 */

.section7 {
  background-color: black;
  height: 741px;
  padding: 130px 0 0 130px;
}

.section7 p {
  font-family: inter;
  font-size: 4.7rem;
  color: white;
  width: 350px;
  padding: 0 0 30px 0;
}

.section7 a {
  padding: 10px 20px;
  font-family: roboto;
  font-size: 2.4rem;
  color: white;
  border: 1px solid white;
  text-decoration: none;
}

.section7 a:hover {
  box-shadow: 10px 10px 0 0 white;
}

/* - FOOTER */

footer {
  height: 22px;
  background-color: black;
}
footer p {
  font-family: inter;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  color: white;
}

footer p span {
  color: #6bc1a3;
  background-color: black;
}
